<?xml version="1.0"?>
<phpunit
    bootstrap="./vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
    syntaxCheck="true"
>
    <testsuite name="CratePDO unit tests">
        <directory>./test/CrateTest/PDO</directory>
        <exclude>./vendor</exclude>
    </testsuite>
    <testsuite name="CratePDO integration tests">
        <directory>./test/CrateIntegrationTest/PDO</directory>
        <exclude>./vendor</exclude>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
