name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ 'ubuntu-18.04' ] #, macos-latest, windows-latest ]
        php-version: [ '7.3', '7.4', '8.0' ]

    name: PHP ${{ matrix.php-version }} on OS ${{ matrix.os }}
    steps:

      - name: Acquire sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      # With GHA's "services", you cannot map volumes to your codebase BEFORE checking out the codebase.
      # So, let's use `docker-compose` to bring in services AFTER checking out the code.
      # https://github.community/t/services-and-volumes/16313
      - name: Run CrateDB
        run: docker-compose --file test/provisioning/docker-compose.yml up --detach

      # https://github.com/marketplace/actions/setup-php-action
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer, phpunit:^9.5

      - uses: ramsey/composer-install@v2

      - name: Run code style checks
        run: composer run check-style

      - name: Run tests
        run: composer run test

      # https://github.com/codecov/codecov-action
      - name: Upload coverage results to Codecov
        uses: codecov/codecov-action@v3
        if: always() && (matrix.php-version == '7.4' || matrix.php-version == '8.0')
        with:
          files: ./build/logs/clover.xml
          fail_ci_if_error: true

      - name: Upload coverage results to Scrutinizer CI
        if: always() && (matrix.php-version == '7.4' || matrix.php-version == '8.0')
        run: |
          echo "Git HEAD ref:"
          git log --pretty=%P -n1 HEAD
          composer global require scrutinizer/ocular
          ocular code-coverage:upload --format=php-clover build/logs/clover.xml

      # https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#failure
      # https://github.community/t/how-do-i-get-the-logs-for-a-service/16422
      - name: The job has failed
        if: failure()
        run: docker-compose --file test/provisioning/docker-compose.yml logs
